@charset "utf-8";
#main{
    margin-left: 480px;
    #banner{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 480px;
        float: left;
        background-color: pink;
        #img-box {
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            img:nth-child(1) {
                opacity: 1;
            }
        }
        
    }
    #c-head{
        height: 100px;
        width: 1039px;
        margin: 0 auto;
        .c-head{
            height: 100px;
            .logo{
                position: fixed;
                top: 8px;left: 24px;
                float: left;
                font-size: 36px;
                color: #000;
            }
            .ch{
                float: right;
                font-size: 16px;
                margin: 30px 60px 0 0;
            }
            .ch-r{
                color: #000;
                opacity: .6;
            }
            .ch-c{
                color: #000;
                opacity: .6;
            }
            .ch-l{
                position: relative;
                display: inline-block;
                width: 59px;
                height: 24px;
                padding: 0 10px 0 24px;
                background: linear-gradient(126deg,#fc4754,#ff794c) #f54444;
                border-radius: 6px;
                line-height: 24px;
                color: #fff;
                img{
                    position: absolute;
                    top: -10px;left: -3px;
                }
            }
        }
    }
    #content{
        .c-body{
            width: 480px;
            height: 600px;
            margin: 0 auto;
            h1{
                height: 57px;
                font-size: 44px;
                margin-bottom: 20px;
            }
            h2{
                height: 36px;
                font-size: 28px;
                color: #333;
                margin-bottom: 64px;
                a{
                    float: right;
                    font-size: 24px;
                    color: #359eff;
                }
            }
            .input{
                position: relative;
                input{
                    text-align: left;
                    font-size: 20px;
                    width: 430px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    border-radius: 5px;
                    border: 1px solid #aaa;
                    font-weight: lighter;
                    float: left;
                }
                span{
                    display: block;
                    margin-top: 40px;
                    width: 430px;
                }
                .x{
                    margin-left: 100px;
                    font-size: 30px;
                }
            }
            .name{
                margin-bottom: 26px;
                height: 52px;
                span{
                    position: absolute;
                    right: 20px;
                    top: 14px;
                }
            }
            .password{
                margin-bottom: 26px;
                height: 52px;
                span{
                    position: absolute;
                    right: 20px;
                    top: 14px;
                }
            }
            .list{
                position: relative;
                height: 52px;
                .list-l{
                    width: 112px;
                    margin-right: 16px;
                }
                img{
                    position: absolute;
                    left: 134px;top: 22px;
                }
                #phone{
                    width: 255px;
                }
            }
            .none{
                display: none;
            }
            .test{
                margin-top: 20px;
                #phone{
                    width: 300px;
                    height: 52px;
                    border: 1px solid #3083ff;
                    border-radius: 4px;
                    font-size: 20px;
                    text-align: center;
                    background-color: #3487ff;
                    color: #fff;
                    font-weight: lighter;
                    cursor: pointer;
                }
            }
            .register{
                height: 116px;
                input{
                    width: 476px;
                    height: 58px;
                    margin-top: 40px;
                    border: 1px solid #3083ff;
                    border-radius: 4px;
                    font-size: 24px;
                    background-color: #3487ff;
                    color: #fff;
                    font-weight: lighter;
                    cursor: pointer;
                }
                input:hover{
                    background-color: #3580eb;
                }
            }
            .clause{
                width: 300px;
                margin-top: 20px;
                position: relative;
                img{
                    float: left;
                }
                img:nth-child(3){
                    position: absolute;
                    right: 10px;
                    top: 6px;
                }
                p{
                    float: left;
                }
            }
            p{
                font-size: 14px;
                color: #999;
            }
        }
        .copy{
            font-size: 14px;
            color: #bbb;
            text-align: center;
            margin: 30px 0;
            font-weight: lighter;
        }
    }
}


