@charset "utf-8";
/* 公共样式 */
.header-wrap,#nav,#weizi,#commodity,.footer-wrap{
    width: 1190px;
    margin: 0 auto;
}

body{
    background-color: #F3F4F6;
}

#main{
    background: url(../images/bg-head.jpg) no-repeat top center;
}

/* 顶部区域 */
#header{
    height: 30px;
    font-size: 12px;
    background-color: #F9F9F9;
    line-height: 30px;
    .menu1{
        float: left;
        a{
            float: left;
            color: #666666;
        }
        a:nth-child(1){
            padding-left: 15px;
            background: url(../images/indexico.png) no-repeat;
            background-position: -42px -817px;
        }
        a:hover{
            text-decoration:underline;
        }
        i{
            float: left;
            color: #ECE8E7;
            margin: 0 10px;
        }
    }
    .menu2{
        float: right;
        li{
            float: left;
            a{
                color: #666666;
            }
            a:hover{
                text-decoration:underline;
            }
        }
        i{
            float: left;
            color: #ECE8E7;
            margin: 0 10px;
        }
        .submenu{
            display: block;
            width: 72px;
            height: 21px;
            line-height: 21px;
            margin-top: 5px;
            padding-left: 8px;
            background: url(//js01.daoju.qq.com/common/images/channel/revision/lol/indexico.png) no-repeat;
            background-position: -125px -273px;
            border: 1px solid #E7E8E7;
        }
    }
    .list-game{
        width: 715px;
        height: 237px;
        padding: 5px;
        background-color: #EFEFEF;
        position: absolute;
        top: 40px;right: 200px;
        z-index: 1;
        .game{
            float: left;
            p{
                width: 304px;
                color: #0096D0;
                font-weight: bold;
                border: 1px solid #D6D6D6;
                background-color: #ffffff;
                span{
                    color: #BBBFCB;
                    font-size: 10px;
                }
            }
            .jj{
                width: 202px;
            }
            .xx{
                width: 100px;
            }
            ul{
                float: left;
                li{
                    border: 1px solid #D6D6D6;
                    background-color: #ffffff;
                    width: 94px;
                    height: 21px;
                    line-height: 21px;
                    padding: 3px;
                    a{
                        display: inline-block;
                        width: 78px;
                        color: #464646;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    a:hover{
                        color: #1994EB;
                    }
                    i{
                        display: inline-block;
                        width: 10px;
                        height: 21px;
                        background: url(../images/gamearea.png)no-repeat center center;
                        background-position: 0 -50px;
                    }
                }
            }
        }
    }
    .none{
        display: none;
    }
}

/* 导航区域 */
#nav{
    min-height: 220px;
    /* 导航区域上部 */
    .logo{
        height: 125px;
        background: url(../images/search.jpg) no-repeat;
        .logo-djc a{
            display: block;
            float: left;
            width: 280px;
            height: 55px;
            background: url(../images/navico.png) no-repeat;
            background-position: -670px -5px;
            margin-top: 40px;
        }
        .search-input-box{
            float: left;
            position: relative;
            margin-left: 80px;
            margin-top: 40px;
            width: 520px;
            height: 51px;
            background: url(../images/navico.png);
            background-position: -1001px 0;
            .search-input{
                float: left;
                width: 450px;
                padding: 18px 10px 15px 10px;
                height: 18px;
                line-height: 18px;
                border: 0;
                color: #9f9f9f;
                font-size: 14px;
                background: none;
            }
            .search-btn{
                position: absolute;
                top: 2px;left: 470px;
                width: 49px;
                height: 46px;
                background: url(../images/navico.png);
                background-position: -1558px 0;
                display: block;
            }
        }
        .logo-lol a{
            display: block;
            float: right;
            width: 223px;
            height: 59px;
            background: url(../images/navico.png) no-repeat;
            background-position: -437px -5px;
            margin-top: 40px;
        }
    }
    /* 导航区域中部 */
    .nav-wrap{
        height: 77px;
        background-color: #121526;
        li{
            float: left;
            a{
                display: block;
                text-align: center;
                width: 134px;
                height: 76px;
                line-height: 76px;
                font-size: 18px;
                color: #9f9f9f;
            }
            a:hover{
                color: #FF5900;
            }
        }
        .nav-wrap-h a{
            font-weight: bolder;
            color: #fff;
            background: url(../images/navico.png) no-repeat;
            background-position: -273px -5px;
        }
        .nav-wrap-h:hover a{
            color: #fff;
        }
        .nav-wrap-f{
            float: right;
            position: relative;
            a{
                color: #FF5900;
                width: 150px;
                margin-left: 10px;
            }
            span{
                position: absolute;
                top:25px;left: 0px;
                width: 30px;
                height: 30px;
                background: url(../images/navico.png);
                background-position: -237px -5px;
            }
        }
    }
    /* 导航区域下部 */
    .navicon{
        height: 50px;
        background-color: #E6E6E8;
        li{
            float:left;
            a{
                display: block;
                width: 118px;
                height: 50px;
                font-size: 14px;
                text-align: center;
                line-height: 48px;
                color: #222222;
            }
            a:hover{
                color: #36AB87;
            }
        }
        .navicon-h a{
            width: 152px;
            height: 48px;
            color: #36AB87;
            background-color: #E6E6E8;
            border-bottom: 2px solid #36AB87;
        }
    }
}

/* 所在位置 */
#weizi{
    margin: 24px auto 8px;
    color: #606060;
    height: 18px;
    cursor: pointer;
    font-size: 12px;
    a{
        color: #606060;
    }
}

/* 中间商品区 */
#commodity{
    min-height: 2126px;
    margin-bottom: 30px;
    .commodity-list{
        float: left;
        width: 228px;
        height: 2126px;
        .cl-h{
            height: 949px;
            margin-bottom: 10px;
            padding: 0 10px 0 16px;
            background-color: #FAFBFC;
            .cl-content{
                position: relative;
                display: block;
                height: 72px;
                padding-top: 15px;
                border-bottom: 1px dashed #ccc;
                .comico{
                    position: absolute;
                    top: 8px;
                    left: -5px;
                    background: url(../images/comico.png);
                    display: block;
                    width: 20px;
                    height: 24px;
                    font-size: 12px;
                    background-position: -5px -592px;
                    text-align: center;
                    line-height: 20px;
                    color: #fff;
                }
                img{
                    display: block;
                    width: 76px;
                    height: 54px;
                    float: left;
                    margin-right: 8px;
                }
                h3{
                    color: #000;
                    width: 108px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-size: 12px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                h4{
                    font-size: 12px;
                    color: #000;
                }
                p{
                    font-size: 12px;
                    color: #000;
                    span{
                        font-size: 12px;
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
            .cl-content:hover {
                h3{
                    color: #36AB87;
                    text-decoration: underline;
                }
                p{
                    color: #FF5900;
                    span{
                        color: #FF5900;
                    }
                }
            }
            .cl-head {
                height: 47px;
                border-bottom: 2px solid #F3F4F6;
                p{
                    display: block;
                    float: left;
                    font-size: 16px;
                    font-weight: bolder;
                    color: #555555;
                    padding: 13px;
                    border-bottom: 2px solid #36AB87;
                }
            }
        } 
        .cl-f {
            .cl-f-p{
                margin-top: 14px;
                display: block;
                width: 192px;
                height: 230px;
                padding-bottom: 20px;
                border-bottom: 1px dashed #ccc;
                img{
                    width: 100%;
                }
                h3{
                    font-size: 14px;
                    color: #535353;
                }
                p{
                    font-size: 13px;
                    color: #FF5900;
                    font-weight: bold;
                }
            }
            .more{
                font-size: 12px;
                float: right;
                color: #000;
            }
        }
    }
    .commodity-wrap{
        float: left;
        .cw-head{
            width: 952px;
            height: 106px;
            background: #ededed;
            margin-left: 10px;
            margin-bottom: 10px;
            .ch-h{
                width: 922px;
                height: 30px;
                padding: 18px 15px 0 15px;
                .ch-h-l{
                    float: left;
                    margin-right: 20px;
                    p{
                        float: left;
                        font-size: 12px;
                        line-height: 24px;
                    }
                    input{
                        height: 24px;
                        border: 1px solid #ccc;
                        width: 338px;
                        padding: 0 2px;
                    }
                }
                .ch-h-r {
                    p{
                        float: left;
                        font-size: 12px;
                        line-height: 24px;
                    }
                    input{
                        height: 24px;
                        border: 1px solid #ccc;
                        width: 34px;
                        padding: 0 2px;
                    }
                    .qd{
                        width: 48px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        font-size: 12px;
                        margin-left: 10px;
                        background-color: #f5f5f5;
                    }
                    .qd:hover{
                        cursor: pointer;
                        background-color: #ccc;
                    }
                }
            }
            .ch-f{
                .ch-f-l {
                    a:first-child{
                        color: #ff5900;
                    }
                    a{
                        float: left;
                        font-size: 14px;
                        color: #222222;
                        margin: 20px;
                    }
                    a:nth-child(1){
                        float: left;
                        margin-right: 40px;
                    }
                    .icon1{
                        float: right;
                        width: 10px;
                        height: 8px;
                        margin: 7px 40px 0 5px;
                        background: url(../images/comico.png) no-repeat;
                        background-position: -25px -71px;
                    }
                    .icon2{
                        float: right;
                        width: 10px;
                        height: 8px;
                        margin: 7px 0 0 5px;
                        background: url(../images/comico.png) no-repeat;
                        background-position: -40px -72px;
                    }
                }
                .ch-f-r{
                    float: left;
                    margin-left: 40px;
                    margin-top: 20px;
                    line-height: 20px;
                    height: 20px;
                    a{
                        float: left;
                        font-size: 12px;
                        margin-right: 10px;
                        color: #222222;
                        line-height: 20px;
                    }
                    .icon3{
                        float: left;
                        width: 14px;
                        height: 14px;
                        background: url(../images/comico.png) no-repeat;
                        background-position: -5px -252px;
                        cursor: pointer;
                        margin: 3px 4px 0;
                    }
                }
            }
        }
        .cw-content{
            width: 952px;
            height: 1678px;
            background-color: #FAFBFC;
            margin-left: 10px;
            padding-top: 20px;
            .content-box{
                height: 1542px;
                dl{
                    display: block;
                    float: left;
                    width: 202px;
                    height: 368px;
                    margin: 0 13px 19px 13px;
                    background: url(../images/indexico.png);
                    background-position: -237px -6px;
                    img{
                        display: block;
                        width: 116px;
                        height: 212px;
                        margin: 23px auto 0;
                    }
                    .cw-list1{
                        display: block;
                        font-size: 14px;
                        margin-top: 10px;
                        font-weight: bolder;
                        color: #2E2E2E;
                        text-align: center;
                    }
                    .cw-list2{
                        display: block;
                        font-size: 12px;
                        line-height: 18px;
                        color: #606060;
                        text-align: center;
                        margin: 5px;
                        span{
                            font-size: 13px;
                            font-weight: bold;
                            color: #FF5900;
                        }
                    }
                    .cw-list3{
                        display: block;
                        width: 124px;
                        height: 32px;
                        line-height: 32px;
                        background-color: #36AB87;
                        font-size: 12px;
                        color: #fff;
                        text-align: center;
                        margin: 0 auto;
                    }
                    .cw-list3:hover{
                        background-color: #2E9D7B;
                    }
                }
                dl:hover{
                    background-color: #4FB697;
                }
            }
            .page-box{
                width: 952px;
                height: 38px;
                padding: 10px 0 30px;
                margin-top: 30px;
                text-align: center;
                .page-b{
                    position: relative;
                    display: inline-block;
                    font-size: 14px;
                    width: 56px;
                    height: 36px;
                    line-height: 36px;
                    border: 1px solid #DDDDDD;
                    padding: 0 6px 0 12px;
                    color: #2E2E2E;
                    background: #fff;
                    margin: 0 10px;
                    em{
                        display: block;
                        position: absolute;
                        top: 12px;left: 0;
                        border: 5px solid;
                        border-color: transparent #979797 transparent transparent;
                    }
                }
                .page-down{
                    padding: 0 12px 0 6px;
                    em{
                        position: absolute;
                        top: 12px;left: 64px;
                        border-color: transparent transparent transparent #979797 ;
                    }
                }
                .page{
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    border: 1px solid #DDDDDD;
                    margin: 0 5px;
                    background: #fff;
                    color: #000;
                }
                .page-head{
                    border: 1px solid #36ab87;
                    color: #36ab87;
                    text-decoration: none;
                    background: #fff;
                }
                p{
                    display: inline-block;
                    font-size: 14px;
                    input{
                        text-align: center;
                        width: 34px;
                        height: 34px;
                        margin: 0 3px;
                        border: 1px solid #b7b7b7;
                    }
                }
                .determine{
                    display: inline-block;
                    width: 50px;
                    height: 36px;
                    line-height: 36px;
                    background: #f3f3f3;
                    border: 1px solid #ccc;
                    color: #606060;
                    text-align: center;
                    margin-left: 5px;
                }
            }
        }
    }
}