@charset "UTF-8";
/* 公共样式 */
.header-wrap, #nav, #weizi, #commodity, .footer-wrap {
  width: 1190px;
  margin: 0 auto;
}

body {
  background-color: #F3F4F6;
}

#main {
  background: url(../images/bg-head.jpg) no-repeat top center;
}

/* 顶部区域 */
#header {
  height: 30px;
  font-size: 12px;
  background-color: #F9F9F9;
  line-height: 30px;
}

#header .menu1 {
  float: left;
}

#header .menu1 a {
  float: left;
  color: #666666;
}

#header .menu1 a:nth-child(1) {
  padding-left: 15px;
  background: url(../images/indexico.png) no-repeat;
  background-position: -42px -817px;
}

#header .menu1 a:hover {
  text-decoration: underline;
}

#header .menu1 i {
  float: left;
  color: #ECE8E7;
  margin: 0 10px;
}

#header .menu2 {
  float: right;
}

#header .menu2 li {
  float: left;
}

#header .menu2 li a {
  color: #666666;
}

#header .menu2 li a:hover {
  text-decoration: underline;
}

#header .menu2 i {
  float: left;
  color: #ECE8E7;
  margin: 0 10px;
}

#header .menu2 .submenu {
  display: block;
  width: 72px;
  height: 21px;
  line-height: 21px;
  margin-top: 5px;
  padding-left: 8px;
  background: url(//js01.daoju.qq.com/common/images/channel/revision/lol/indexico.png) no-repeat;
  background-position: -125px -273px;
  border: 1px solid #E7E8E7;
}

#header .list-game {
  width: 715px;
  height: 237px;
  padding: 5px;
  background-color: #EFEFEF;
  position: absolute;
  top: 40px;
  right: 200px;
  z-index: 1;
}

#header .list-game .game {
  float: left;
}

#header .list-game .game p {
  width: 304px;
  color: #0096D0;
  font-weight: bold;
  border: 1px solid #D6D6D6;
  background-color: #ffffff;
}

#header .list-game .game p span {
  color: #BBBFCB;
  font-size: 10px;
}

#header .list-game .game .jj {
  width: 202px;
}

#header .list-game .game .xx {
  width: 100px;
}

#header .list-game .game ul {
  float: left;
}

#header .list-game .game ul li {
  border: 1px solid #D6D6D6;
  background-color: #ffffff;
  width: 94px;
  height: 21px;
  line-height: 21px;
  padding: 3px;
}

#header .list-game .game ul li a {
  display: inline-block;
  width: 78px;
  color: #464646;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#header .list-game .game ul li a:hover {
  color: #1994EB;
}

#header .list-game .game ul li i {
  display: inline-block;
  width: 10px;
  height: 21px;
  background: url(../images/gamearea.png) no-repeat center center;
  background-position: 0 -50px;
}

#header .none {
  display: none;
}

/* 导航区域 */
#nav {
  min-height: 220px;
  /* 导航区域上部 */
  /* 导航区域中部 */
  /* 导航区域下部 */
}

#nav .logo {
  height: 125px;
  background: url(../images/search.jpg) no-repeat;
}

#nav .logo .logo-djc a {
  display: block;
  float: left;
  width: 280px;
  height: 55px;
  background: url(../images/navico.png) no-repeat;
  background-position: -670px -5px;
  margin-top: 40px;
}

#nav .logo .search-input-box {
  float: left;
  position: relative;
  margin-left: 80px;
  margin-top: 40px;
  width: 520px;
  height: 51px;
  background: url(../images/navico.png);
  background-position: -1001px 0;
}

#nav .logo .search-input-box .search-input {
  float: left;
  width: 450px;
  padding: 18px 10px 15px 10px;
  height: 18px;
  line-height: 18px;
  border: 0;
  color: #9f9f9f;
  font-size: 14px;
  background: none;
}

#nav .logo .search-input-box .search-btn {
  position: absolute;
  top: 2px;
  left: 470px;
  width: 49px;
  height: 46px;
  background: url(../images/navico.png);
  background-position: -1558px 0;
  display: block;
}

#nav .logo .logo-lol a {
  display: block;
  float: right;
  width: 223px;
  height: 59px;
  background: url(../images/navico.png) no-repeat;
  background-position: -437px -5px;
  margin-top: 40px;
}

#nav .nav-wrap {
  height: 77px;
  background-color: #121526;
}

#nav .nav-wrap li {
  float: left;
}

#nav .nav-wrap li a {
  display: block;
  text-align: center;
  width: 134px;
  height: 76px;
  line-height: 76px;
  font-size: 18px;
  color: #9f9f9f;
}

#nav .nav-wrap li a:hover {
  color: #FF5900;
}

#nav .nav-wrap .nav-wrap-f {
  float: right;
  position: relative;
}

#nav .nav-wrap .nav-wrap-f a {
  color: #FF5900;
  width: 150px;
  margin-left: 10px;
}

#nav .nav-wrap .nav-wrap-f span {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 30px;
  height: 30px;
  background: url(../images/navico.png);
  background-position: -237px -5px;
}

#nav .navicon {
  height: 50px;
  background-color: #E6E6E8;
}

#nav .navicon li {
  float: left;
}

#nav .navicon li a {
  display: block;
  width: 118px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  color: #222222;
}

#nav .navicon li a:hover {
  color: #36AB87;
}

#nav .navicon .navicon-h a {
  width: 152px;
  height: 48px;
  background-color: #E6E6E8;
}

/* 所在位置 */
#weizi {
  margin: 24px auto 8px;
  color: #606060;
  height: 18px;
  cursor: pointer;
  font-size: 12px;
}

#weizi a {
  color: #606060;
}

/* 商品区 */
#commodity {
  min-height: 1028px;
  margin-bottom: 30px;
}

#commodity .commodity-list {
  float: left;
}

#commodity .commodity-list .look {
  width: 202px;
  height: 59px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 0 10px 0 14px;
}

#commodity .commodity-list .look .cl-head {
  height: 47px;
  border-bottom: 2px solid #F3F4F6;
}

#commodity .commodity-list .look .cl-head p {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bolder;
  color: #555555;
  padding: 13px 0 13px;
  border-bottom: 2px solid #36AB87;
}

#commodity .commodity-list .look .cl-head span {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bolder;
  color: #555555;
  padding-top: 13px;
}

#commodity .commodity-list .like {
  width: 202px;
  height: 59px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 0 10px 0 14px;
}

#commodity .commodity-list .like .cl-head {
  height: 47px;
  border-bottom: 2px solid #F3F4F6;
}

#commodity .commodity-list .like .cl-head p {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bolder;
  color: #555555;
  padding: 13px 0 13px;
  border-bottom: 2px solid #36AB87;
}

#commodity .commodity-list .cl-f {
  width: 202px;
  height: 890px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 0 10px 0 14px;
}

#commodity .commodity-list .cl-f .cl-head {
  height: 47px;
  border-bottom: 2px solid #F3F4F6;
}

#commodity .commodity-list .cl-f .cl-head p {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bolder;
  color: #555555;
  padding: 13px 0 13px;
  border-bottom: 2px solid #36AB87;
}

#commodity .commodity-list .cl-f .cl-f-p {
  margin-top: 14px;
  display: block;
  width: 192px;
  height: 230px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

#commodity .commodity-list .cl-f .cl-f-p img {
  width: 100%;
}

#commodity .commodity-list .cl-f .cl-f-p h3 {
  font-size: 14px;
  color: #535353;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#commodity .commodity-list .cl-f .cl-f-p p {
  font-size: 13px;
  color: #FF5900;
  font-weight: bold;
}

#commodity .commodity-list .cl-f .more {
  font-size: 12px;
  float: right;
  color: #000;
}

#commodity .commodity-content {
  width: 952px;
  height: 516px;
  background-color: #fff;
  float: left;
  margin-left: 10px;
}

#commodity .commodity-content .shangpin {
  width: 888px;
  height: 240px;
  padding-left: 58px;
  padding-top: 30px;
}

#commodity .commodity-content .shangpin .img {
  margin-top: 35px;
  float: left;
  width: 260px;
  height: 184px;
}

#commodity .commodity-content .shangpin .img img {
  width: 100%;
  height: 154px;
}

#commodity .commodity-content .shangpin .img p {
  margin-top: 6px;
  font-size: 12px;
  width: 68px;
  height: 25px;
  display: inline-block;
  margin-left: 70px;
  line-height: 27px;
  color: #9f9f9f;
  text-indent: 19px;
  background: url(../images/comico02.png) no-repeat;
  background-position: -5px -521px;
}

#commodity .commodity-content .shangpin .img em {
  float: right;
  width: 16px;
  height: 15px;
  background: url(../images/comico02.png) no-repeat;
  background-position: -5px -969px;
  cursor: pointer;
}

#commodity .commodity-content .shangpin .price {
  width: 456px;
  height: 221px;
  margin-left: 23px;
  float: left;
}

#commodity .commodity-content .shangpin .price h3 {
  width: 450px;
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #2e2e2e;
  margin-bottom: 10px;
}

#commodity .commodity-content .shangpin .price .bg {
  width: 456px;
  height: 76px;
  background: url(../images/comico02.png) no-repeat;
  background-position: -5px -143px;
}

#commodity .commodity-content .shangpin .price .bg p:first-child {
  padding-top: 10px;
}

#commodity .commodity-content .shangpin .price .bg span {
  font-size: 24px;
  color: #ff5900;
  font-weight: bold;
}

#commodity .commodity-content .shangpin .price p {
  font-size: 14px;
  color: #606060;
  margin-left: 10px;
}

#commodity .commodity-content .shangpin .price p:nth-child(3) {
  padding: 20px 0;
}

#commodity .commodity-content .input {
  position: relative;
  height: 120px;
  margin-left: 360px;
}

#commodity .commodity-content .input #count {
  text-align: center;
  width: 30px;
}

#commodity .commodity-content .input .plus {
  position: absolute;
  top: -70px;
  left: -20px;
  display: inline-block;
  width: 142px;
  height: 42px;
  background-color: #ff5900;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

#commodity .commodity-content .input .give {
  position: absolute;
  top: -70px;
  left: 120px;
  display: inline-block;
  width: 142px;
  height: 42px;
  background-color: #259afe;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-left: 18px;
  margin-top: 10px;
}

#commodity .commodity-content .details {
  width: 910px;
  height: 99px;
  margin: 0 20px;
  border: 1px solid #ddd;
}

#commodity .commodity-content .details .details-h {
  position: relative;
  display: block;
  margin: 10px 0 0 75px;
  height: 20px;
  width: 705px;
  background: url(../images/comico02.png) no-repeat;
  background-position: -5px -229px;
  background-color: #fff;
}

#commodity .commodity-content .details .details-h .d {
  position: absolute;
  left: -70px;
  top: 0;
  font-weight: bold;
  color: #222;
  font-size: 14px;
}

#commodity .commodity-content .details .details-h .p {
  position: absolute;
  right: -70px;
  top: 0;
  color: #9f9f9f;
  font-size: 14px;
}

#commodity .commodity-content .details .details-h .p i {
  position: absolute;
  top: 0;
  right: -50px;
  display: block;
  width: 45px;
  height: 28px;
  background: url(../images/comico02.png) no-repeat;
  background-position: -5px -347px;
}

#commodity .commodity-content .details .details-f {
  padding: 40px 0 72px;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  margin-left: 10%;
}
